<aside class="sidebar">
    <nav class="nav-menu">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
            <span>🏠</span> Dashboard
        </a>

        <a routerLink="/solicitudes" routerLinkActive="active" class="nav-item">
            <span>📋</span> Solicitudes
        </a>

        <a *ngIf="authService.hasRole('COORDINADOR') || authService.hasRole('DIRECTOR')" routerLink="/usuarios"
            routerLinkActive="active" class="nav-item">
            <span>👥</span> Usuarios
        </a>

        <a routerLink="/ia" routerLinkActive="active" class="nav-item">
            <span>🤖</span> Asistencia IA
        </a>
    </nav>
</aside>